---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getAllTags } from "../../components/Posts";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
    const allPosts = await getCollection("blog");
    const allTags = getAllTags(allPosts);

    const route = (tag: string) => ({
        params: { tag },
        props: {
            posts: allPosts.filter((post) => post.data.tags.includes(tag)),
        },
    });

    return allTags.map(route);
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
    <p>Posts tagged with {tag}</p>
    <nav>
        <ul>
            {
                posts.map((post) => (
                    <BlogPost
                        url={`/posts/${post.id}`}
                        title={post.data.title}
                    />
                ))
            }
        </ul>
    </nav>
</BaseLayout>
