---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getAllPosts, getAllTags } from "../../components/Posts";

export const getStaticPaths = (async () => {
    const allPosts = getAllPosts();
    const allTags = getAllTags(allPosts);

    const route = (tag: string) => ({
        params: { tag },
        props: {
            posts: allPosts.filter((post) =>
                post.frontmatter.tags.includes(tag),
            ),
        },
    });

    return allTags.map(route);
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
    <p>Posts tagged with {tag}</p>
    <nav>
        <ul>
            {
                posts.map((post) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} />
                ))
            }
        </ul>
    </nav>
</BaseLayout>
