---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</nav>

		<h1>About me</h1>
		<h2>... and this Astro tutorial</h2>

		<p>I am currently working through the tutorial</p>

		<p>If I don't give it up, this should be updated soon</p>
	</body>
</html>
