---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Learning Astro Blog";

const allPosts = Object.values(
	import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout title={pageTitle}>
	<p>
		Components are here, layout too... are layouts just regular components?
		Also, partials maybe?
	</p>

	<nav>
		<ul>
			{
				allPosts.map((post: any) => (
					<BlogPost url={post.url} title={post.frontmatter.title} />
				))
			}
		</ul>
	</nav>
</BaseLayout>
