---
import Social from "./Social.astro";

const platform = "github";
const username = "AndreLeria";
---

<footer>
    <p>
        Learn more about my projects at <Social {platform} {username} />!
    </p>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
