---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";

type Props = {
    title: string;
};

const { title } = Astro.props;
---

<header>
    <Hamburger />
    <ThemeIcon />
    <Navigation />

    <h1>{title}</h1>
</header>
